:root{
    --colorPrimary: #2584ff;
    --colorSecondary: #00d9ff;
    --colorAccent: #ff3400;
    --colorHeadings: #1b0760;
    --colorBodyText: #918ca4;
}


/* Topography */
body
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}
h1
{
    font-size: 5rem;

}
h2
{
    font-size: 3rem;

}
h3
{
    font-size: 1rem;
    margin-bottom: 1rem;
}
p
{
    margin-top: 0;
}
@media screen and (min-width: 1024px) {
    body
    {
        font-size: 1.4rem;

    }
    h1
    {
        font-size: 6rem;
    }
    h2
    {
        font-size: 3rem;
    }
    h3
    {
        font-size: 2rem;
    }
}

/* Links */
a
{
    text-decoration: none;
}
.link-arrow
{
    color: var(--colorAccent);
    text-transform: uppercase;
    font-weight: bold;
}
.link-arrow::after
{
    content: "-->";
    margin-left: 5px;
}
.link-arrow:hover::after
{
    margin-left: 15px;
    transition: margin .5s;
}.link-arrow:not(:hover)::after
{
    margin-left: 5px;
    transition: margin .5s;
}

/*  Badges */
.badge
{
    border-radius: 20px;
    padding: 0.3rem 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    font-size: 1.5rem;
}
.badge--primary
{
    background-color: var(--colorPrimary);
    color: #fff;
}
.badge--secondary
{
    background: var(--colorSecondary);
    color: #fff;
}
.badge--small
{
    font-size: 1rem;
}

@media screen and (min-width: 1024px) {
    .badge
{
        font-size: 2rem;
}
.badge--small
{
    font-size: 1.5rem;
}
}

/* Lists */

.list
{
    list-style: none;
    padding-left: 0;
    color: var(--colorHeadings);
}

.list--inline .list__item
{
    display: inline-block;
    margin-right: 1.5rem;
}

.list--tick
{
    padding-left: 2rem;
    list-style-image: url(/icons/tick.svg);
}
.list--tick .list__item
{
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item
    {
        padding-left: 0rem;
    }

}


/* Icons */
.icon
{
    width: 40px;
    height: 40px;
}
.icon--primary
{
    fill: var(--colorPrimary);
}
.icon-container
{
    width: 60px;
    height: 60px;
    background: #f3f9fa;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Buttons */
.button--default
{
    border-radius: 2rem;
    border:0;
    cursor: pointer;
    padding: 1rem 2rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}
.button--default:hover
{
    scale: 105%;
    transition: 0.3s;
}
.button--primary
{
    background: var(--colorPrimary);
    color: #fff;
}.button--primary:hover
{
    background: #3a8ffd;
}
.button--secondary
{
    background: var(--colorSecondary);
    color: #fff;
}.button--secondary:hover
{
    background: #00c8e0;
}
.button--accent
{
    background: var(--colorAccent);
    color: #fff;
}.button--accent:hover
{
    background: #fd4500 ;
}
.button--block
{
width: 100%;
display: inline-block;
}
.button--outline
{
    background: #fff;
    color: var(--colorHeadings);
    border: 2px solid var(--colorHeadings);
}
.button--outline:hover
{
    background: var(--colorHeadings);
    color:#fff;
}
@media screen and (min-width: 1024px) {
    .button--default
    {
         font-size: 1.3rem;
    }
}

/* Input */

.input
{
    padding: 1rem 1rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    color: var(--colorHeadings);
}

::placeholder
{
    color: #cdcbd7;
}

@media screen and (min-width:1024px) {
    .input
    {font-size: 1.5rem;  
}
}


